body{
	background-image: url(images/angela-compagnone-XSUvsYl_LrE-unsplash.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
h1{
	font-family: 'Merienda', cursive;
	font-size: 45px;
}
div{
	font-family: 'Bad Script', cursive;
	font-size: 25px;
}
button{
	background-color: #ffc107;
}
.jumbotron{
	width:750px;
	height: 550px;
	background-color: #e83e8c;
	opacity: 88%;
}
.overall_div{
	padding: 150px;
}
.clear{
	background-image: url(images/sunny.jpg);
}
.rain{
	background-image: url(images/rain.jpg);
}
.snow{
	background-image: url(images/snow.jpg);
}
.thunderstorm{
	background-image: url(images/thunder.jpg);
}
.clouds{
	background-image: url(images/cloudy.jpg);
}
