body{
	background-image: url(images/angela-compagnone-XSUvsYl_LrE-unsplash.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
h1{
	font-family: 'Merienda', cursive;
	font-size: 45px;
}
div{
	font-family: 'Bad Script', cursive;
	font-size: 25px;
}
button{
	background-color: #ffc107;
}
.jumbotron{
	width:750px;
	height: 550px;
	background-color: #e83e8c;
	opacity: 87%;
}
.overall_div{
	padding: 150px;
}
